<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        <form action="/edit" method="post">
            <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-800 text-zinc-500" type="text" placeholder="Previous Name" name="previous" value="<%= filename %>">
            <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-800 mt-2" type="text" placeholder="New Name" name="new">
            <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update Name">
        </form>
    </div>
</body>
</html>